/*  your css code here. If applicable */
body{
	background-color:rgb(161,100,223);
	width:100%;
}
#buttons{
	display:flex;
	justify-content:space-around;

	padding-top:400px
}
.btn{
	padding:25px 40px 25px 40px;
	background-color:rgb(102,51,153);
	color:white;
	border:none;
	border-radius:5px;
}
.stop{
	padding:25px 40px 25px 40px;
	background-color:rgb(102,51,153);
	color:white;
	border:none;
	border-radius:5px;
}